.form {

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .formInput {
    width: 20%;
    height: 20%;
    border: 2px solid rgb(47, 255, 71);
    font-size: 20px;

  }

  .formButton {
    margin-left: 10px;
    width: 10%;
    height: 20%;
    background-color: rgb(215, 248, 250);
    font-size: 20px;
    text-transform: lowercase;
    border-radius: 10px;
    color: rgb(2, 13, 23);
    cursor: pointer;
  }

  .formButton:hover {
    background-color: rgb(67, 151, 230);
  }